In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Heart.csv")

In [3]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [4]:
df.tail()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [6]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [7]:
df.describe(include="all")

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
count,303.000000,303.000000,303.000000,303,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301,303
unique,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
top,NaN,NaN,NaN,asymptomatic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,normal,No
freq,NaN,NaN,NaN,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166,164
mean,152.000000,54.438944,0.679868,NaN,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,NaN,NaN
std,87.612784,9.038662,0.467299,NaN,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,NaN,NaN
min,1.000000,29.000000,0.000000,NaN,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN
25%,76.500000,48.000000,0.000000,NaN,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,NaN,NaN
50%,152.000000,56.000000,1.000000,NaN,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,NaN,NaN
75%,227.500000,61.000000,1.000000,NaN,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,NaN,NaN
max,303.000000,77.000000,1.000000,NaN,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,NaN,NaN

In [8]:
df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [9]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [10]:
df.shape

(303, 15)

In [11]:
df.isna()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [17]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Gender        0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [13]:
df.rename(columns = {"Sex" : "Gender"}, inplace = True )

In [18]:
df.head(3)

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes

In [19]:
df["ChestPain"].unique()

array(['typical', 'asymptomatic', 'nonanginal', 'nontypical'],
      dtype=object)

In [20]:
df["ChestPain"].value_counts()

ChestPain
asymptomatic    144
nonanginal       86
nontypical       50
typical          23
Name: count, dtype: int64

In [21]:
df["Gender"].value_counts()

Gender
1    206
0     97
Name: count, dtype: int64

In [22]:
df.Gender.replace([1,0],["male","female"])

0        male
1        male
2        male
3        male
4      female
        ...
298      male
299      male
300      male
301    female
302      male
Name: Gender, Length: 303, dtype: object

In [23]:
df.AHD.replace(["Yes","No"],[1,0],inplace=True)
df.head()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,1
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,0
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,0

In [24]:
dummies = pd.get_dummies(df['ChestPain'])

In [25]:
print(dummies)

     asymptomatic  nonanginal  nontypical  typical
0           False       False       False     True
1            True       False       False    False
2            True       False       False    False
3           False        True       False    False
4           False       False        True    False
..            ...         ...         ...      ...
298         False       False       False     True
299          True       False       False    False
300          True       False       False    False
301         False       False        True    False
302         False        True       False    False

[303 rows x 4 columns]

In [26]:
df.head()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,1
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,0
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,0

In [27]:
df = pd.concat([df, dummies], axis=1)

In [28]:
df.head(2)

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,asymptomatic,nonanginal,nontypical,typical
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0,False,False,False,True
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1,True,False,False,False

In [29]:
df.drop("ChestPain",axis=1,inplace=True)

In [30]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df.head()

,Age,Gender,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,asymptomatic,nonanginal,nontypical,typical
0,63,1,145,233,1,2,150,0,2.3,3,0.0,fixed,0,False,False,False,True
1,67,1,160,286,0,2,108,1,1.5,2,3.0,normal,1,True,False,False,False
2,67,1,120,229,0,2,129,1,2.6,2,2.0,reversable,1,True,False,False,False
3,37,1,130,250,0,0,187,0,3.5,3,0.0,normal,0,False,True,False,False
4,41,0,130,204,0,2,172,0,1.4,1,0.0,normal,0,False,False,True,False

In [31]:
df.Gender.replace([1,0],["Male","Female"],inplace=True)
df.head()

,Age,Gender,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,asymptomatic,nonanginal,nontypical,typical
0,63,Male,145,233,1,2,150,0,2.3,3,0.0,fixed,0,False,False,False,True
1,67,Male,160,286,0,2,108,1,1.5,2,3.0,normal,1,True,False,False,False
2,67,Male,120,229,0,2,129,1,2.6,2,2.0,reversable,1,True,False,False,False
3,37,Male,130,250,0,0,187,0,3.5,3,0.0,normal,0,False,True,False,False
4,41,Female,130,204,0,2,172,0,1.4,1,0.0,normal,0,False,False,True,False

In [32]:
df.head()

,Age,Gender,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,asymptomatic,nonanginal,nontypical,typical
0,63,Male,145,233,1,2,150,0,2.3,3,0.0,fixed,0,False,False,False,True
1,67,Male,160,286,0,2,108,1,1.5,2,3.0,normal,1,True,False,False,False
2,67,Male,120,229,0,2,129,1,2.6,2,2.0,reversable,1,True,False,False,False
3,37,Male,130,250,0,0,187,0,3.5,3,0.0,normal,0,False,True,False,False
4,41,Female,130,204,0,2,172,0,1.4,1,0.0,normal,0,False,False,True,False

In [33]:
df["Age"].mean()

54.43894389438944

In [34]:
df["MaxHR"].min()

71

In [35]:
df["MaxHR"].max()

202

In [36]:
df["MaxHR"].std()

22.875003276980376

In [37]:
df["MaxHR"].var()

523.265774921863

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X = df.drop(["Thal","AHD"],axis=1)

In [40]:
Y = df["AHD"]

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=40)

In [43]:
X_train

,Age,Gender,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,asymptomatic,nonanginal,nontypical,typical
33,59,Male,135,234,0,0,161,0,0.5,2,0.0,True,False,False,False
261,58,Female,136,319,1,2,152,0,0.0,1,2.0,False,False,True,False
139,51,Male,125,245,1,2,166,0,2.4,2,0.0,False,True,False,False
297,57,Female,140,241,0,0,123,1,0.2,2,0.0,True,False,False,False
192,43,Male,132,247,1,2,143,1,0.1,2,NaN,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,40,Male,152,223,0,0,181,0,0.0,1,0.0,True,False,False,False
193,62,Female,138,294,1,0,106,0,1.9,2,3.0,True,False,False,False
165,57,Male,132,207,0,0,168,1,0.0,1,0.0,True,False,False,False
7,57,Female,120,354,0,0,163,1,0.6,1,0.0,True,False,False,False
219,59,Male,138,271,0,2,182,0,0.0,1,0.0,True,False,False,False

In [46]:
X_test

,Age,Gender,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,asymptomatic,nonanginal,nontypical,typical
18,48,Female,130,275,0,0,139,0,0.2,1,0.0,False,True,False,False
112,52,Male,118,186,0,2,190,0,0.0,2,0.0,False,False,False,True
102,57,Female,128,303,0,2,159,0,0.0,1,1.0,True,False,False,False
275,64,Male,170,227,0,2,155,0,0.6,2,0.0,False,False,False,True
92,62,Male,130,231,0,0,146,0,1.8,2,3.0,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,58,Male,128,216,0,2,131,1,2.2,2,3.0,True,False,False,False
160,46,Male,101,197,1,0,156,0,0.0,1,0.0,False,False,True,False
298,45,Male,110,264,0,0,132,0,1.2,2,0.0,False,False,False,True
86,47,Male,138,257,0,2,156,0,0.0,1,0.0,False,True,False,False
5,56,Male,120,236,0,0,178,0,0.8,1,0.0,False,False,True,False

In [47]:
y_train

33     0
261    1
139    0
297    1
192    1
      ..
268    1
193    1
165    0
7      0
219    0
Name: AHD, Length: 212, dtype: int64

In [48]:
y_test

18     0
112    0
102    0
275    0
92     0
      ..
62     1
160    0
298    1
86     0
5      0
Name: AHD, Length: 91, dtype: int64